<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title> Page not found</title>
<meta name="generator" content="WordPress 3.8"/>  
<link rel="stylesheet" href="http://flowingdata.com/wp-content/themes/flowingdata-4-8/style.css" type="text/css" media="screen"/>
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://flowingdata.com/feed"/>
<link rel="pingback" href="http://flowingdata.com/xmlrpc.php"/>
<link rel="shortcut icon" href="http://flowingdata.com/wp-content/themes/flowingdata-4-8/images/favicon.ico"/>
<script type="text/javascript" src='http://media.flowingdata.com/js/jquery-1.4.4.min.js'></script>
<script type='text/javascript'>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
    var gads = document.createElement('script');
    gads.async = true;
    gads.type = 'text/javascript';
    var useSSL = 'https:' == document.location.protocol;
    gads.src = (useSSL ? 'https:' : 'http:') + 
    '//www.googletagservices.com/tag/js/gpt.js';
    var node = document.getElementsByTagName('script')[0];
    node.parentNode.insertBefore(gads, node);
    })();
    </script>
<script type='text/javascript'>
    googletag.cmd.push(function() {
    googletag.defineSlot('/2462688/Sidebar_rectangle', [300, 250], 'div-gpt-ad-1332011316310-2').addService(googletag.pubads());
    googletag.defineSlot('/2462688/Square1', [125, 125], 'div-gpt-ad-1332011316310-3').addService(googletag.pubads());
    googletag.defineSlot('/2462688/Square2', [125, 125], 'div-gpt-ad-1332011316310-4').addService(googletag.pubads());
    googletag.defineSlot('/2462688/Square3', [125, 125], 'div-gpt-ad-1332011316310-5').addService(googletag.pubads());
    googletag.defineSlot('/2462688/Square4', [125, 125], 'div-gpt-ad-1358209090048-5').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.enableServices();
    });
    </script>
<script type='text/javascript' src='http://flowingdata.com/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://flowingdata.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://flowingdata.com/xmlrpc.php?rsd"/>
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://flowingdata.com/wp-includes/wlwmanifest.xml"/>
<meta name="generator" content="WordPress 3.8"/>
 <script type='text/javascript' src='http://flowingdata.com/wp-content/plugins/democracy/democracy.js'></script><link rel='stylesheet' href='http://flowingdata.com/wp-content/plugins/democracy/basic.css' type='text/css'/><link rel='stylesheet' href='http://flowingdata.com/wp-content/plugins/democracy/style.css' type='text/css'/><link rel="stylesheet" href="http://flowingdata.com/wp-content/plugins/wp-page-numbers/wp-content/themes/flowingdata-4-6//wp-page-numbers.css" type="text/css" media="screen"/><style type='text/css'>img#wpstats{display:none}</style><style type="text/css" id="syntaxhighlighteranchor"></style>
</head>
<body>
<a name="top"></a>
<div id="topnav">
<div id="topnav-content" class="content">
<div id="login" class="float-right">
<span id="username-meta">Logged in as <a href="http://flowingdata.com/profile/">abresler</a> &nbsp;&nbsp;</span>
<a href="http://flowingdata.com/wp-login.php?action=logout&#038;_wpnonce=d018091d15">Log out</a> </div>
</div>
<div class="clear-line"></div>
</div> 
<div id="header">
<div id="header-content" class="content">
<div id="nav">
<a href="http://flowingdata.com/">
<img src="http://flowingdata.com/wp-content/themes/flowingdata-4-8/images/logo.png" class="float-left"/>
</a>
<div id="pages" class="float-right">
<ul>
<li><a href="http://flowingdata.com/membership/">Membership</a></li>
<li><a href="http://flowingdata.com/learning/">Learning</a></li>
<li><a href="https://jobs.flowingdata.com">Job Board</a></li>
<li><a href="http://flowingdata.com/category/projects/">Projects</a></li>
<li><a href="http://flowingdata.com/about/">About</a></li>
</ul>
</div> 
<div class="clear-line"></div>
</div> 
</div> 
</div> 
<div class="clear-line"></div>
<div id="main-wrapper">
<div id="content-wrapper" class="content">
<div class="post">
<div id="content" style="margin:0 auto;float:none">
<div class="entry" style="border:none;">
<h1>404. File not found.</h1>
<div class="entry-content">
<p>Sometimes missing data is the most interesting part. Probably not the case this time. You might find what you're looking for in <a href="http://flowingdata.com/archive/">the archive</a> though.</p>
</div>
</div> 
</div>
</div> 
</div> 
</div> 
<div id="footer">
<div id="footer-container" class="content">
<div class="float-left" style="width:32%;margin-right:5%;">
<div id="about" class="sec">
<h3>About</h3>
<p>FlowingData explores how designers, statisticians, and computer scientists are using data to understand ourselves better &mdash; mainly through data visualization.</p>
<p>As for me, I'm Nathan Yau, and I have a PhD in statistics, with a background in eating.</p>
<p><a href="http://flowingdata.com/about/">More...</a></p>
</div>
</div>
<div class="float-left" style="width:36%;margin-right:5%;">
<div id="book-single" class="sec">
<h3>Books</h3>
<ul id="books" style="margin-bottom:0">
<li>
<a href="http://flowingdata.com/data-points/"><img src="http://media.flowingdata.com/images/DataPoints60x75.png" title="Data Points" class="img-left" style="margin-bottom:0"/><strong>Data Points</strong><br/>Visualization that Means Something</a><br/>
<div class="clear-line"></div>
</li>
<li><a href="http://flowingdata.com/visualize-this/"><img src="http://flowingdata.com/wp-content/themes/flowingdata-4-8/images/books/flowingdata60x79.jpg" title="Visualize This" class="img-left" style="margin-bottom:0"/><strong>Visualize This</strong><br/>The FlowingData Guide to Design, Visualization, and Statistics</a><br/>
<div class="clear-line"></div>
</li>
</ul>
</div> 
</div>
<div class="float-left" style="width:22%">
<div id="follow" class="sec">
<h3>Follow</h3>
<p>
<a href="http://twitter.com/flowingdata">Twitter</a> &nbsp;&bull;&nbsp;
<a href="http://facebook.com/flowingdata">Facebook</a> &nbsp;&bull;&nbsp;
<a href="http://eepurl.com/icL0o">Email</a> &nbsp;&bull;&nbsp;
<a href="http://flowingdata.com/feed">RSS</a>
</p>
</div>
<div id="misc" class="sec">
<h3>Miscellaneous</h3>
<a href="http://flowingdata.com/contact">Contact</a> &nbsp;&bull;&nbsp;
<a href="http://flowingdata.com/advertise">Sponsorship</a> &nbsp;&bull;&nbsp;
<a href="http://flowingdata.bigcartel.com/">Shop<a>
</div>
</div>
<div class="clear-line"></div>
</div> 
</div> 
<div id="bottom">
Unless otherwise noted, graphics and words by me are licensed under <a href="http://creativecommons.org/licenses/by-nc/3.0/us/">Creative Commons BY-NC</a>. Contact original authors for everything else.
</div>
 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-865100-4");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<script type='text/javascript' src='http://flowingdata.com/wp-content/plugins/jetpack/modules/photon/photon.js?ver=20130122'></script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201350'></script>
<script src="http://stats.wordpress.com/e-201350.js" type="text/javascript"></script>
<script type="text/javascript">
	st_go({v:'ext',j:'1:2.7',blog:'1938889',post:'0',tz:'-8'});
	var load_cmc = function(){linktracker_init(1938889,0,2);};
	if ( typeof addLoadEvent != 'undefined' ) addLoadEvent(load_cmc);
	else load_cmc();
	</script></body>
</html>